*,
html,
body {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(192, 38%, 98%);
  color: hsl(200, 07%, 42%);
  font-size: 18px;
  line-height: 1.45;
}

main {
  margin-top: 4rem auto 2rem;
  max-width: 90vw;
  text-align: center;
  width: 550px;
}

h1 {
  color: hsl(198, 18%, 22%);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 2rem;
}

p {
  margin-top: 0.5rem;
}
